{% extends 'base.html.twig' %}

{% block title %}Edit Camping{% endblock %}

{% block body %}
    <h1>Edit Camping</h1>

    {{ include('camping/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('camping_index') }}">back to list</a>

    {{ include('camping/_delete_form.html.twig') }}
{% endblock %}
